{% extends "base.html" %}
{% block content %}
<!-- <div class="description">
	<img src="/static/img/description.png" style="min-width: 100%;
	height: 200px; z-index: -10;"> 
	<div class="centered">
		<h2 style="text-shadow: 1px  1px 2px black;">SAN LIGTAS</h2>
		<p style="color: white; text-shadow:
    1px  1px 2px black; letter-spacing: 2px;"><b>San Ligtas aims to help people get the right information before, during and after a calamity. We are here to help the locals give information regarding the hazards, emergency and other disaster related calamities.</p>
	</div>
</div> -->

<!-- <hr> -->

<div class="slideshow-container">
	<div class="mySlides fade">
		<!-- <div class="numbertext">1 / 3</div> -->
		<img src="static/img/carousel1.png" style="width: 100%">
		<!-- <div class="text">DEM Announces Receipt of $343 Million in Citrus Grant Funds, Workshops to Assist Farmers to Apply</div> -->
	</div>

	<div class="mySlides fade">
		<!-- <div class="numbertext">2 / 3</div> -->
		<img src="static/img/carousel2.png" style="width: 100%">
		<!-- <div class="text">DCF To Initiate Federal Disaster Snap Food Assistance Program In 12 Counties</div> -->
	</div>

	<div class="mySlides fade">
		<!-- <div class="numbertext">3 / 3</div> -->
		<img src="static/img/carousel3.png" style="width: 100%">
		<!-- <div class="text">Notice of Public Meeting - Satellite Voice and Data Services for VSAT</div> -->
	</div>

	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<br>

<!-- <div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div> -->


<div class="features">
<h1 style="margin-left: 15px; color: #022450; font-size: 20px;">FEATURES</h1>

<div class="tab">
	<button class="tablinks" onclick="openMenu(event, 'Map')">Map</button>
	<button class="tablinks" onclick="openMenu(event, 'Alerts')">Alerts</button>
	<button class="tablinks" onclick="openMenu(event, 'Weather')">Weather</button>	
</div>

<div id="Map" class="tabcontent" style="display: block;">
	<h3 style="color: #413939; font-size: 25px; margin-left: 50px; margin-bottom: 8px;">Map</h3>
	<p style="color: #413939; font-size: 15px; margin-left: 50px; margin-top: 5px;">This feature shows the nearest and all possible evacutaion centers available, and shows how critical area during a calamity.</p>
	<div id="map"></div>
</div>
<div id="Alerts" class="tabcontent">
	<h3 style="color: #413939; font-size: 25px; margin-left: 50px; margin-bottom: 8px;">Alerts</h3>
	<p style="color: #413939; font-size: 15px; margin-left: 50px; margin-top: 5px;">This feature gives information to the people such as announcements related in disaster risk and management.</p>
	<div class="alert-board">
		<div id="alert1">
			<div class="date">03/05/19</div>
			<center><h5 style="color: #0d4e86; font-size: 12px; padding-left: 7px; padding-right: 7px;">Notice of Public Meeting - Satellite Voice and Data Services for VSAT</h5><span style="color: red;">Click more...</span></center>

		</div>
		<div id="alert2">
			<div class="date">03/09/19</div>
			<center><h5 style="color: #0d4e86; font-size: 12px; padding-left: 7px; padding-right: 7px;">DCF To Initiate Federal Disaster Snap Food Assistance Program In 12 Counties</h5><span style="color: red;">Click more...</span></center>
		</div>
		<div id="alert3">
			<div class="date">03/14/19</div>
			<center><h5 style="color: #0d4e86; font-size: 12px; padding-left: 7px; padding-right: 7px;">Governor Ron DeSantis Announces Additional Reimbursement for Florida</h5><span style="color: red;">Click more...</span></center>
		</div>
	</div>
</div>
<div id="Weather" class="tabcontent">
	<h3 style="color: #413939; font-size: 25px; margin-left: 50px; margin-bottom: 8px;">Weather</h3>
	<p style="color: #413939; font-size: 15px; margin-left: 50px; margin-top: 5px;">This feature provides real-time weather update.</p>
	<div class="weather-container">
		<div class="icon"><img src="http://openweathermap.org/img/w/{{ weather_icon }}.png"></div>
		<center><b><p style="font-size: 15px; color: #3A3836; margin-bottom: 5px;">{{ city }} City</p></b></center>
		<center><b><p style="font-size: 15px; color: #3A3836; margin-top: 0px;">{{ celcius }} &#8451; - {{ weather }} </p></b></center>
	</div>
</div>
</div>
 
<!-- <hr> -->

<div class="announcements">
<h1 style="margin-left: 15px; color: #022450; font-size: 20px;">ANNOUNCEMENTS</h1>

	<div class="boards">
		<div id="board1">
			<img src="static/img/board1.jpg" style="width: 300px; height: 200px; z-index: -15;">
			<div class="date2">03/05/19</div>
			<center><h5 style="color: #0d4e86; font-size: 12px; padding-left: 7px; padding-right: 7px;">Notice of Public Meeting - Satellite Voice and Data Services for VSAT</h5></center>


			
			
		</div>
		<div id="board2">
			<img src="static/img/board2.jpg" style="width: 300px; height: 200px; z-index: -15;">
			<div class="date2">03/13/19</div>
			<center><h5 style="color: #0d4e86; font-size: 12px; padding-left: 7px; padding-right: 7px;">DCF To Initiate Federal Disaster Snap Food Assistance Program In 12 Counties</h5></center>

		</div>
		<div id="board3">
			<img src="static/img/board3.jpg" style="width: 300px; height: 200px; z-index: -15;">
			<div class="date2">03/17/19</div>
			<center><h5 style="color: #0d4e86; font-size: 12px; padding-left: 7px; padding-right: 7px;">Governor Ron DeSantis Announces Additional Reimbursement for Florida</h5></center>
		
		</div>

		<div id="board4">
			<img src="static/img/board4.jpg" style="width: 300px; height: 200px; z-index: -15;">
			<div class="date2">03/21/19</div>
			<center><h5 style="color: #0d4e86; font-size: 12px; padding-left: 7px; padding-right: 7px;">DEM Announces Receipt of $343 Million in Citrus Grant Funds, Workshops to Assist Farmers to Apply</h5></center>
		</div>
	</div>	
<a href="#" style="margin-top: 15px; padding-top: 15px; color: red; font-size: 15px; left: 0;">Click here for more >>></a>
</div>

<hr>

<!-- <div class="info">
	<div id="one"></div>
	<div id="two"></div>
	<div id="three"></div>

</div>
 -->
<!-- <script>
	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
	  showSlides(slideIndex += n);
	}

	function currentSlide(n) {
	  showSlides(slideIndex = n);
	}

	function showSlides(n) {
	  var i;
	  var slides = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("dot");
	  if (n > slides.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = slides.length}
	  for (i = 0; i < slides.length; i++) {
	      slides[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
	      dots[i].className = dots[i].className.replace(" active", "");
	  }
	  slides[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " active";
	}
</script> -->

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 10000); // Change image every 2 seconds
}
</script>



<script>
	function openMenu(evt, menuName) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace("active", "");
		}
		document.getElementById(menuName).style.display = "block";
		evt.currentTarget.className += "active";
	}
</script>

<script>
// Initialize and add the map
	function initMap() {
	  // The location of Uluru
	  var uluru = {lat: 8.228, lng: 124.2452};
	  // The map, centered at Uluru
	  var map = new google.maps.Map(
	      document.getElementById('map'), {zoom: 10, center: uluru});
	  // The marker, positioned at Uluru
	  var marker = new google.maps.Marker({position: uluru, map: map});
	}
</script>
  
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOeYMvF7kPJ7ZcAjOVWiRA8PjCk5E_TsM&callback=initMap">
</script>
        
{% endblock %}