<link rel="stylesheet" type="text/css" href="static/css/reset.css" />

<body>
    <div class="reset-container">
        <div class="reset-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Reset Password</h2>
                </div>
                <div class="container">
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter email" name="email" required> 

                        <button onclick="window.location.href='login'" class= "btn btn-primary">Request Password Reset</button>
                    
                </div>
            </div>
        </div>
    </div>
</body>
