{% extends "mainadmin-base.html" %}
{% block content %}

<div class="content-holder">

	<div class="title">
		<h4>USER MANAGEMENT</h4>
		<span>Home / Users / <b> View </b></span>
	</div>


<div class="holder">
<div class="table">
<table id="customers">	

	<div class="column">
		<tr>
		  	<th>USERNAME</th>
        <th>NAME</th>
        <th>ADMIN</th>
        <th>DATE REG</th>
		    <th>EMAIL</th>
        <th>ACTIONS</th>
		  </tr>
	</div>
  {% for user in json_data.data %}
  <tr>
    <td> {{ user.username }}</td>
    <td> {{ user.first_name }} {{ user.last_name }}</td>
    <td> {{ user.admin_type }}</td>
    <td> {{ user.registered_on }} </td>
    <td>{{ user.email }}</td>
    <td><a href = "{{ url_for('update', username=user.username, email=user.email, public_id=user.public_id, first_name=user.first_name, last_name=user.last_name, admin_type=user.admin_type) }}"><img src="/static/img/edits.png" style="margin-right: 15px; margin-left: 15px;" width="20" height="25"  /></a><a href = "{{ url_for('delete', public_id=user.public_id) }}"><img src="/static/img/deletes.png"  width="20" height="25" style="margin-left: 15px; margin-right: 15px;" /></input></a>
    </td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
</div>
	
{% endblock %}