{% extends "mainadmin-base.html" %}
{% block content %}

<div class="content-holder">

	<div class="title">
		<h4>USER MANAGEMENT</h4>
		<span>Home / Users / <b> View </b></span>
	</div>


<div class="holder">
<div class="table">
<table id="customers">	

	<div class="column">
		<tr>
		  	<th>USERNAME</th>
		    <th>EMAIL</th>
		    <th>PUBLIC ID</th>
		  </tr>
	</div>
  {% for user in json_data.data %}
  <tr>
  	<td> {{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.public_id }}</td>
    <!-- <td><a href = "#"><button>Delete</button></input></a></td>
    <td><a href = "#"><button>Update</button></a></td> -->
  </tr>
  {% endfor %}
  <!-- <tr>
  	<td>2</td>
    <td>Berglunds snabbköp</td>
    <td>VillaVerder, Iligan</td>
    <td>Male</td>
    <td>03/06/19</td>
  </tr>
  <tr>
  	<td>3</td>
    <td>Angela Lee</td>
    <td>Santiago, Iligan</td>
    <td>Female</td>
    <td>03/11/19</td>
  </tr>
  <tr>
  	<td>4</td>
    <td>Ernst Handel</td>
    <td>Paseo, Tibanga</td>
    <td>Male</td>
    <td>03/13/19</td>
  </tr>
  <tr>
  	<td>5</td>
    <td>Helen Bennett</td>
    <td>Boulevard, Tibanga</td>
    <td>Female</td>
    <td>03/16/19</td>
  </tr>
  <tr>
  	<td>6</td>
    <td>Königlich Essen</td>
    <td>San Miguel, Tibanga</td>
    <td>Male</td>
    <td>03/17/19</td>
  </tr>
  <tr>
  	<td>7</td>
    <td>Yoshi Tannamuri</td>
    <td>Linamon, Iligan</td>
    <td>Female</td>
    <td>03/20/19</td>
  </tr>
  <tr>
  	<td>8</td>
    <td>Giovanni Rovelli</td>
    <td>Dalipuga, Iligan</td>
    <td>Male</td>
    <td>03/21/19</td>
  </tr>
  <tr>
  	<td>9</td>
    <td>Simon Crowther</td>
    <td>Cagayan de Oro</td>
    <td>Male</td>
    <td>03/24/19</td>
  </tr>
  <tr>
  	<td>10</td>
    <td>Marie Bertrand</td>
    <td>Palao, Iligan</td>
    <td>Female</td>
    <td>03/29/19</td>
  </tr> -->
</table>
</div>
</div>
</div>
	
{% endblock %}